* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/61gCgYJfQiL._AC_SL1100_.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Georgia;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    color: white;
    /* text-transform: uppercase;
  width: 100%;
  height: 150px;
  padding-right: 50px;
  padding-top: 50px;
  position: fixed;  */
}

.navlinks {
    background-color: black;
    color: white;
    text-transform: uppercase;
    /* width: 100%;
  padding-left: 50px;
  height: 30px;
  position: fixed;
   top: 200px; */
    display: flex;
    justify-content: space-evenly;
}

.navlinks > * {
    padding: 0;
    margin: 0;
    font-family: "Creepster", cursive;
    font-size: 30px;
    background: black;
    /* transform: rotate(-5deg) skewX(25deg) translate(0, 0); */

    /* box-shadow: -20px 20pix 10pix rgba(0, 0, 0, 0.5); */
}

h1 {
    font-family: "Creepster", cursive;
    font-size: 65px;
}

#title-img {
    max-height: 135px;
    float: right;
    padding-top: 0;
}

a {
    font-weight: bold;
    color: white;
}

.right {
    float: right;
}

.left {
    float: left;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
/* .card-container {
    width: 25%;
    background-color: black;
} */
.card {
    /* width: 25%; */

    background-color: black;
    margin: 30px;
    padding: 5px;
    border: 3px solid black;
    width: 15rem;
    height: 17rem;
    border-radius: 30px;

    /* box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2); */
}

.poster:hover {
    border: 3px solid red;
}

.scream {
    max-height: 30px;
}

.poster {
    min-height: 35vh;
    max-height: 200px;
    border-radius: 20px;
}

.poster-modal {
    max-height: 200px;
}

.modal {
    /* display: none; */
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 700px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.modal-content {
    position: relative;
    background-color: white;
    padding: 50px;
    margin: auto;
    width: 100%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 30px;
    z-index: 5;
}
.close-btn {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
}
.close-btn:hover {
    color: darkgray;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
