* {
  margin: 0;
  padding: 0;
}


body {
  text-align: center;
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/61gCgYJfQiL._AC_SL1100_.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: Georgia;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: white;
  /* text-transform: uppercase;
  width: 100%;
  height: 150px;
  padding-right: 50px;
  padding-top: 50px;
  position: fixed;  */
}

.navlinks {
  background-color: black;
  color: white;
  text-transform: uppercase;
  /* width: 100%;
  padding-left: 50px;
  height: 30px;
  position: fixed;
   top: 200px; */
   display: flex;
   justify-content: space-evenly;
} 

.navlinks > * {
  padding: 50px;
}

h1 {
  font-family: 'Creepster', cursive;
  font-size: 50px;
}

#title-img {
  max-height: 150px;
  float: right;
  padding-top: 0;
}

a {
  font-weight: bold;
  color: white;
}

.right {
  float: right;
}

.left {
  float: left;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  background-color: white;
  margin: 20px;
  padding: 5px;
  border: 3px solid black;
}

.poster:hover {
  border: 3px solid red;
}

.scream {
  max-height: 30px;
}

.poster {
  max-height: 200px;
}

.poster-modal {
  max-height: 200px;
}

.modal {
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: 10px auto; 
  width: 50%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

