body {
  text-align: center;
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/61gCgYJfQiL._AC_SL1100_.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Georgia;
}

.header {
  background-color: black;
  color: white;
  text-transform: uppercase;
  width: 100%;
  padding: 20px;
}

h1 {
  font-family: 'Creepster', cursive;
  font-size: 50px;
}

#title-img {
  max-height: 150px;
  float: right;
  padding-top: 0;
}

a {
  font-weight: bold;
  color: white;
}

.right {
  float: right;
}

.left {
  float: left;
}

.card {
  width: 25%;
  background-color: white;
  margin: 20px;
  padding: 5px;
}

.scream {
  max-height: 30px;
}

.poster {
  max-height: 200px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
